<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756256701515-ln61n307e5tj9psivetuk7r5eu49735o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756256701515-ln61n307e5tj9psivetuk7r5eu49735o</string>
	<key>API_KEY</key>
	<string>AIzaSyDe2ioHEB8taEYdPCEOO6IzkJ_mQlUERqs</string>
	<key>GCM_SENDER_ID</key>
	<string>756256701515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mneApp</string>
	<key>PROJECT_ID</key>
	<string>mne-app-596f1</string>
	<key>STORAGE_BUCKET</key>
	<string>mne-app-596f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756256701515:ios:a76ac1c9ef575606cc61ce</string>
</dict>
</plist>